@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to the Self-Service Portal</h1>
    <p>This project demonstrates the use of .Net Razor Pages to create a simple self-service portal.</p>
    <p>You can register and login to access the portal features. For demonstration purposes, you can use a fake email address, as the link for the email verification is sent directly to the UI.</p>
</div>
