@page
@model ConfirmEmailModel

@if (Model.IsConfirmed)
{
    <div style="text-align:center; margin-top:100px;">
        <h2>Account confirmed ✅</h2>
        <p>You can now sign in.</p>
    </div>
}
else
{   <div style="text-align:center; margin-top:100px;">
        <form method="post" asp-page-handler="Resend" > 
            <input type="hidden" asp-for="UserId" /> 
            <h2>Invalid confirmation link ❌</h2> <p>The confirmation link is invalid or has expired.</p> 
            <button class="btn btn-lg btn-primary" type="submit">Resend confirmation email</button> 
        </form>
    </div>
}
