@page

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h2>Login successful. Welcome @User.FindFirst("DisplayName")?.Value!</h2>
    </div>
</div>