@page
@{
    ViewData["Title"] = "Login successful";
}

<div class="centered-content">
    <h1 class="page-title">@ViewData["Title"]</h1>
    <p>Welcome, @User.FindFirst("DisplayName")?.Value!</p>
</div>