@page
@{
    ViewData["Title"] = "Logout successful";
}

<div class="centered-content">
    <h1 class="page-title">@ViewData["Title"]</h1>
    <p>You have been logged out successfully.</p>
    <a class="btn btn-primary w-auto" asp-page="/Index">Back to Home</a>
</div>